.user_profile{
    height: 90vh;
    padding-top: 10px;
}

.user_profile_left_col{
    display: flex;
    align-items: center;
    justify-content: center;
}

.user_profile_left_col img{
    height: 250px;
    width: 250px;
    border-radius: 50%;
    object-fit: cover;
   
}

.user_profile_right_col{
    display: flex;
    align-items: center;
    justify-content: center;
}